
.links{
    padding:1rem;
    background-color: white;
    color: blue;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.15);
}

.link-logo{
    display: flex;
    justify-content: flex-start;
}

.link{
    display: flex;
    justify-content: center;
}

.link-signup{
    display: flex;
    justify-content: flex-end;
}